<% content_for :title, "Sign up" %>
<div class="auth-form">
  <%= form_with url: registration_path do |form| %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", value: params[:email_address] %><br>
    <%= form.text_field :username, required: true, autocomplete: "username", placeholder: "Enter your username", value: params[:username] %><br>
    <%= form.text_field :display_name, autocomplete: "display-name", placeholder: "Enter your display name", value: params[:display_name] %><br>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password" %><br>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Confirm your password" %><br>
    <%= form.submit "Sign up" %>
  <% end %>
  <br>

  <%= link_to "Forgot password?", new_password_path %>
  <p>Already have an account? <%= link_to "Sign in", new_session_path %></p>
</div>
