<%= turbo_frame_tag dom_id book do %>
  <%= link_to book do %>
    <h3><%= book.title %></h3>
  <% end %>
  <p><%= book.author %></p>
  <details>
    <summary>Description</summary>
    <p><%= truncate(book.description, length: 100) %></p>
  </details>
  <%= button_to "Delete", book, method: :delete %>
<% end %>
