<% content_for :title, "Book Details" %>
<%= turbo_frame_tag dom_id @book do %>
  <%= turbo_stream_from @book %>
  <article>
    <h2><%= @book.title %></h2>
    <p>Author: <span><%= @book.author %></span></p>
    <%= link_to "Edit", edit_book_path(@book), class: "button" %>
    <%= button_to "Delete", @book, method: :delete %>
    <%= link_to "Back", books_path, class: "button" %>

    <details>
      <summary>Description</summary>
      <p><%= @book.description %></p>
    </details>

    <section>
      <%= render "reviews/reviews" %>
    </section>
  </article>
<% end %>
