<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Redo 3rd" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Weather Forecast</h1>
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Locations", locations_path %>
        <%= link_to "Search", search_locations_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Weather data provided by OpenMeteo</p>
      <div id="debug"><%= debug params %></div>
    </footer>
  </body>
</html>
