<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "Codecamp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_stream_from nested_dom_id(Current.user, 'notifications') if authenticated? %>
    <header role="banner">
      <nav>
        <%= render 'layouts/links' %>
        <%= render 'layouts/auth' %>
      </nav>
      <h1><%= yield :title %></h1>
    </header>
    <main role="content">
      <div id="flash">
        <%= render 'layouts/flash' %>
      </div>
      <%= yield %>
    </main>
    <footer>
      <p>© Tien Bui Gia 2024 - All wrongs resreved</p>
      <%= debug params %>
    </footer>
  </body>
</html>
